html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
  padding: .4em .75em .3em;
  border-width: 3px;
  border-radius: 8px;
}
