html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn a {
  font-size: 1.125rem;
  background-color: #333;
  color: #fff;
  border-radius: 8px;
  border-width: 3px;

  padding: .4em .75em .3em;
  text-decoration: none;
}
